---
import {
    VerticalSpotlightList,
    VerticalSpotlightListItem,
} from "@/components/vertical-spotlight-list";
import { Card } from "@/components/ui/card";

type LinkItem = {
    name: string;
    detail?: string;
    href?: string;
};

const WORK_ITEMS: LinkItem[] = [
    {
        name: "PayPal",
        detail: "2023—present",
        href: "https://www.paypal.com",
    },
    {
        name: "Poloniex",
        detail: "2021",
        href: "https://www.poloniex.com",
    },
    {
        name: "Teikametrics",
        detail: "2020",
        href: "https://www.teikametrics.com",
    },
    {
        name: "Curriculum Associates",
        detail: "2019",
        href: "https://www.curriculumassociates.com",
    },
    {
        name: "Veoneer",
        detail: "2018",
        href: "https://www.veoneer.com",
    },
];
---

<main class="flex flex-col gap-5">
    <section class="flex flex-col gap-5 animate-fade-in-up hidden">
        <h2 class="">Welcome in, shoes by the door if you please.</h2>

        <p class="">
            I'm
            <a
                href="/about"
                class="underline hover:text-primary hover:cursor-pointer"
                >Andrew</a
            >
            &mdash; I aim to build simple, satisfying software, for fun and
            friction. I've been writing code for a decade, professionally for
            the last three years.
        </p>

        <p class="">
            Currently at
            <a
                href="https://www.paypal.com/us/braintree"
                class="hover:text-foreground underline"
                >PayPal Braintree</a
            >, orchestrating merchant payouts. Lately building personal tools in
            <a
                href="https://www.rust-lang.org/"
                class="rust hover:cursor-pointer underline hover:text-foreground"
            >
                Rust</a
            >. Curiosity and empathy.
        </p>
    </section>

    <br>

    <section id="work-history" class="mb-36 animate-fade-in-up pt-2 border-t">
        <VerticalSpotlightList numItems={WORK_ITEMS.length} client:load>
            {WORK_ITEMS.map(w =>(
            <VerticalSpotlightListItem key={`work-item-${w.name.toLowerCase()}`} className="group not-last:mb-0.5">
                <a href={w.href} class="flex flex-row items-center">
                    <span
                        class="font-semibold text-3xl tracking-tight duration-200 ease-out group-hover:translate-x-2 whitespace-nowrap"
                    >
                        {w.name}
                    </span>
                    <span
                        class="text-xs ml-auto  opacity-0 group-hover:opacity-90 ease-out duration-400 transition-all mr-2 whitespace-nowrap"
                    >
                        {w.detail}  
                    </span> 
                </a>
            </VerticalSpotlightListItem>
            ) )}
        </VerticalSpotlightList>
    </section>
</main>

<style>
</style>
