---
import {
    VerticalSpotlightList,
    VerticalSpotlightListItem,
} from "@/components/vertical-spotlight-list";
import Layout from "@/layouts/Layout.astro";

type LinkItem = {
    name: string;
    detail?: string;
    href?: string;
};

const WORK_ITEMS: LinkItem[] = [
    {
        name: "PayPal",
        detail: "2023—present",
        href: "https://www.paypal.com",
    },
    {
        name: "Poloniex",
        detail: "2021",
        href: "https://www.poloniex.com",
    },
    {
        name: "Teikametrics",
        detail: "2020",
        href: "https://www.teikametrics.com",
    },
    {
        name: "Curriculum Associates",
        detail: "2019",
        href: "https://www.curriculumassociates.com",
    },
    {
        name: "Veoneer",
        detail: "2018",
        href: "https://www.veoneer.com",
    },
];
---

<Layout title="Andrew Leung – Work">
    <section id="work-history" class="animate-fade-in-up">
        <VerticalSpotlightList numItems={WORK_ITEMS.length} client:load>
            {WORK_ITEMS.map(w =>(
                <VerticalSpotlightListItem key={`work-item-${w.name.toLowerCase()}`} className="group not-last:mb-0.5">
                    <a href={w.href} class="md:mb-0 mb-6 flex flex-col-reverse md:flex-row md:items-center transition-all">
                        <span
                            class="font-semibold text-3xl sm:text-4xl tracking-tight duration-200 ease-out md:group-hover:translate-x-2 whitespace-nowrap transition-all"
                        >
                            {w.name}
                        </span>
                        <span
                            class="text-xs md:text-sm md:ml-auto text-muted-foreground md:opacity-0 md:group-hover:opacity-100 md:ease-out md:duration-300 md:transition-all mr-2 whitespace-nowrap"
                        >
                            {w.detail}  
                        </span> 
                    </a>
                </VerticalSpotlightListItem>
                ) )}
        </VerticalSpotlightList>
    </section>
</Layout>

<style>
</style>
